body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000; /* Cor de fundo da splash screen */
}

.splash-screen img {
    width: 50%; /* Ajuste conforme necessário para responsividade */
    max-width: 200px; /* Define um tamanho máximo para a imagem */
    height: auto;
}

.splash-screen p {
    margin-top: 20px;
}

.content {
    display: none; /* Oculta o conteúdo inicialmente */
}
